body {
    font-family: Verdana;
    font-size: 2em;
}

section {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    border: 1px solid #000;
    text-align: center;
    display: table-cell;
    width: 80px;
}

.cell-main {
    background-color: yellow;
}

.cell-umain {
    background-color: lightgreen;
}

.cell-omain {
    background-color: lightskyblue;
}